.discount {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 20px 15px 20px;
  text-align: center;

  h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #6AAE55;
    line-height: normal;
    padding: 5px 26px;
    display: inline-block;
  }

  &__total-orders {
    color: var(--Brown, #5B4A58);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
  }

  &__main {
    margin: 20px 0 12px;
  }

  &__line-trunk {
    width: 100%;
    border-radius: 7.5px;
    background: #E0E0E0;
    height: 15px;
  }

  &__line-order {
    min-width: 15px;
    max-width: 100%;
    border-radius: 10px;
    background: #6AAE55;
    height: 100%;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid#FFF;
      background: #F2994A;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}