.user-menu {
  margin-top: 22px;
  width: 100%;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &>a {
    color: #5B4A58;
    font-family: Literal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 6px 12px 6px 20px;
    display: flex;
    align-items: center;
    &:first-child{
      padding-top: 15px;
    }
    &:last-child{
      padding-bottom: 15px;
    }
    &:not(:last-child){
      border-bottom: 1px solid #E0E0E0;
    }
  }

}

.activeDoor {
  background-color: #F6FFF3;
}

.user-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}